{% extends "base_generic.html" %}

{% block content %}
  <h1> JoeC Probecards Only </h1>
   
  <div class="col-md-9">
  <table>
      <thead>
	<tr>
	  <th id="Probe Card">Probe Card</th>
	  <th id="Rebuild Num">Rebuild Num</th>
	  <th id="Device Num">Device Num</th>
	  <th id="Device Name">Device Name</th>
	  <th id="Serial Num">Austin Serial Num</th>
	  <th id="Probehead Num">Probehead Number</th>
	  <th id="Date Measured">Date Measured</th>
	  <th id="Tip Length">Tip Length</th>
	  <th id="Crown Height">Crown Heigh</th>
	  <th id="Probehead Touchdown">Probehead Touchdown</th>
	  <th id="PCB Touchdown">PCB Touchdown</th>
	  <th id="IQA Date">IQA Date</th>
	  <th id="IQA Tip Length">IQA Tip Length</th>
	  <th id="Crown Tip Height">Crown Tip Height</th>
	  <th id="Remarks">Remarks</th>
	  <th id="Status">Status</th>
	</tr>
      </thead>
      <tbody> 
        {% for board in joec_pc %}
	<tr>
	<td headers="Probe Card"> {{board.probecard}}</td>
	<td headers="Rebuild Num"> {{board.probehead_rebuild_num}}</td>
	<td headers="Device Num"> {{board.probecard.device_num}}</td>
        <td headers="Device Name"> {{board.probecard.device_name}}</td>
	<td headers="Serial Num"> {{board.probecard.aus_serial_num}}</td>
	<td headers="Probehead Num"> {{board.probehead_num}}</td>
	<td headers="Date Measured"> {{board.date_measured}}</td>
        <td headers="Tip Length"> {{board.tip_length}}</td>
	<td headers="Crown Height"> {{board.crown_height}}</td>
	<td headers="Probehead Touchdown"> {{board.probehead_touchdown}}</td>
	<td headers="PCB Touchdown"> {{board.pcb_touchdown}}</td>
	<td headers="IQA Date"> {{board.iqa_date}}</td>
	<td headers="IQA Tip Length"> {{board.iqa_tip_length}}</td>
	<td headers="Crown IQA Height"> {{board.crown_iqa_height}}</td>
	<td headers="Remarks"> {{board.remarks}}</td>
	<td headers="Status"> {{board.status_log}}</td>
	</tr>
	{% endfor %}
      </tbody>
</table>
  </div>
{% endblock %}
