{% extends "base_generic.html"%}

{% block content %}

<h1>What would you like to do today?</h1>
<div class = "btn-block">
  <a href = "{% url 'allpcs' %}"><button type="button" class = "btn btn-default btn-block">Edit Probe Card Status</button></a>
  <a href = "{% url 'probecardreport_create' %}"><button type="button" class = "btn btn-default btn-block">Add Probe Card Record</button></a>
  <a href = "{% url 'select_bbking' %}"><button type = "button" class = "btn btn-default btn-block">Edit BBKing Probe Card</button></a>
  <a href = "{% url 'select_merle' %}"><button type = "button" class = "btn btn-default btn-block">Edit Merle Probe Card</button></a>
  <a href = "{% url 'select_joec' %}"><button type = "button" class = "btn btn-default btn-block">Edit JoeC Probe Card</button></a>
  <a href = "{% url 'select_joecocker' %}"><button type = "button" class = "btn btn-default btn-block">Edit JoeCrocker Probe Card</button></a>
  <a href = "{% url 'select_lespaul' %}"><button type = "button" class = "btn btn-default btn-block">Edit LesPaul Probe Card</button></a>
  <a href = "{% url 'select_jani' %}"><button type = "button" class = "btn btn-default btn-block">Edit Jani Probe Card</button></a>
  <a href = "{% url 'select_womack' %}"><button type = "button" class = "btn btn-default btn-block">Edit Womack Probe Card</button></a>
</div>
  
{% endblock %}
